chapter-8/flows.json
[{"id":"b6da8b8abb87e6a1","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"282715794f5bf5d6","type":"mqtt in","z":"b6da8b8abb87e6a1","name":"Node Uplink Event","topic":"application/999d5724-dedf-4a08-96fd-47c72f429cd9/device/+/event/up","qos":"2","datatype":"auto","broker":"4310cfe3735eeaa2","nl":false,"rap":true,"rh":0,"inputs":0,"x":186.1999969482422,"y":90.20002746582031,"wires":[["61865318048bdab5"]]},{"id":"61865318048bdab5","type":"json","z":"b6da8b8abb87e6a1","name":"","property":"payload","action":"","pretty":false,"x":356.20001220703125,"y":90.19999694824219,"wires":[["83c0483602ae7164"]]},{"id":"83c0483602ae7164","type":"function","z":"b6da8b8abb87e6a1","name":"Get Data","func":"let xpayload = {};\nxpayload.deveui = msg.payload.deviceInfo.devEui;\nxpayload.fcnt = msg.payload.fCnt;\nxpayload.rssi = msg.payload.rxInfo[0].rssi;\nxpayload.snr = msg.payload.rxInfo[0].snr;\nmsg.payload = xpayload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":195.99998474121094,"y":221.20001983642578,"wires":[["c2f331887ade2fb8","844af7fc4bbd9dde","638150a2e4eb479d","776ddd53a3cacb84","0cdb4bd8bcd7df9b"]]},{"id":"c2f331887ade2fb8","type":"debug","z":"b6da8b8abb87e6a1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":504,"y":143.60010528564453,"wires":[]},{"id":"844af7fc4bbd9dde","type":"ui_text","z":"b6da8b8abb87e6a1","group":"88db00c81bf57e3c","order":1,"width":0,"height":0,"name":"","label":"DevEUI: {{msg.payload.deveui}}","format":"FCT: {{msg.payload.fcnt}}  RSSI: {{msg.payload.rssi}}dBm  SNR: {{msg.payload.snr}}dB","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":729,"y":162.800048828125,"wires":[]},{"id":"833096b266f6f307","type":"ui_chart","z":"b6da8b8abb87e6a1","name":"","group":"88db00c81bf57e3c","order":3,"width":0,"height":0,"label":"RSSI [dBm] vs. time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-140","ymax":"0","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":779,"y":221.2000503540039,"wires":[[]]},{"id":"3f98f39a2e6ccaf4","type":"ui_table","z":"b6da8b8abb87e6a1","group":"88db00c81bf57e3c","name":"my table","order":5,"width":"6","height":"3","columns":[{"field":"fcnt","title":"FCnt","width":"95","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"rssi","title":"RSSI [dBm]","width":"108","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"snr","title":"SNR [dBm]","width":"108","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":739,"y":314.40018463134766,"wires":[]},{"id":"09c32004d80d146a","type":"function","z":"b6da8b8abb87e6a1","name":"Convert Data for Table","func":"var tableData = flow.get(\"savedData\") || [];\n\ntableData.unshift({\n        \"fcnt\": msg.payload.fcnt,\n        \"rssi\": msg.payload.rssi,\n        \"snr\": msg.payload.snr,\n    });\n\ntableData.length = 10;\nmsg.payload = tableData;\n    \nflow.set(\"savedData\", tableData);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":514,"y":342.2001953125,"wires":[["3f98f39a2e6ccaf4"]]},{"id":"638150a2e4eb479d","type":"function","z":"b6da8b8abb87e6a1","name":"Get RSSI","func":"msg.payload = msg.payload.rssi;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":553.3333740234375,"y":221.83344268798828,"wires":[["833096b266f6f307"]]},{"id":"776ddd53a3cacb84","type":"delay","z":"b6da8b8abb87e6a1","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":293.3333740234375,"y":341.00006103515625,"wires":[["09c32004d80d146a"]]},{"id":"0cdb4bd8bcd7df9b","type":"function","z":"b6da8b8abb87e6a1","name":"empty table","func":"msg.payload = [];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":544.3333740234375,"y":284.83341217041016,"wires":[["3f98f39a2e6ccaf4"]]},{"id":"4310cfe3735eeaa2","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"88db00c81bf57e3c","type":"ui_group","name":"Device Info","tab":"95000e9cba3519b1","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"95000e9cba3519b1","type":"ui_tab","name":"Field Test","icon":"dashboard","order":1,"disabled":false,"hidden":false}]